@using AppCardapio.Models
@model EndCidadeModel

<form asp-controller="EndCidade" asp-action="Create" method="post">

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nome da Cidade:</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome da cidade"  asp-for="Nome_Cidade" value="@Model.Nome_Cidade" required>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Número do CEP:</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome da cidade" asp-for="CepCidade.Numero_Cep" value="@Model.CepCidade.Numero_Cep" required>
    </div>


    <input class="btn btn-primary" type="submit" value="Salvar">
</form>
